/* .bookCover {
  position: relative;
  width: 350px;
  height: 500px;
  left: 25%;
  top: 30px;
} */
.bookTitle {
  position: relative;
  height: 150px;
  top: 30px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 46px;
  letter-spacing: -0.02em;
  /* background-color: teal; */

  color: #000000;
}
.bookAuthor {
  position: relative;
  width: 181px;
  height: 33px;
  left: 5%;
  /* top: 10px; */

  font-family: Adamina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.017em;
}
.description {
  display: block;
  position: relative;
  margin-top: 30px;
}
.column1 {
  position: relative;
  float: left;
  width: 50%;
  background-color: darksalmon;
  height: fit-content;

  display: flex;
  text-align: center;
}
.column1 img {
  /* display: inline-block; */
  position: relative;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.column2 {
  display: inline-block;
  position: relative;

  width: 50%;
  background-color: white;
  height: 800;

  padding: 5px;
  margin-right: 0px;

  height: fit-content;
  object-fit: cover;
  text-align: left;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 800px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}
.book-container {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;
  text-align: right;
}
.book-container img {
  width: 100%;
}
.book-container h1 {
  text-align: left;
}
.book-container p {
  font-weight: normal;
  text-transform: capitalize;
  line-height: 1.8;
  text-align: left;
}
.book-data {
  font-weight: bold;
  background: #99ddff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: rgb(0, 102, 153);
}
.book-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .book-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .book-info {
    padding-top: 0;
  }
}
