.bookCover {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 25%;
  top: 30px;
}
.bookTitle {
  position: relative;
  height: 150px;
  top: 30px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 46px;
  letter-spacing: -0.02em;
  /* background-color: teal; */

  color: #000000;
}
.bookAuthor {
  position: relative;
  width: 181px;
  height: 33px;
  left: 5%;
  top: 10px;

  font-family: Adamina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.017em;
}
.description {
  display: block;
  position: relative;
  margin-top: 30px;
}
.column1 {
  position: relative;
  float: left;
  width: 50%;
  background-color: white;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.column2 {
  position: relative;
  float: left;
  width: 600px;
  background-color: white;
  height: 800;

  padding: 5px;
  margin-right: 0px;

  height: fit-content;
  object-fit: cover;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
